body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: outfit, consolas;
    background-color: hsl(212, 45%, 89%);
}

.qr-component {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 7rem;
    padding: 1rem;
    width: 256px;
    border-radius: 12px;

    box-shadow: 0px 4px 6px 0px hsl(220, 15%, 55%);
    background-color: white;
}

.qr-image {
    width: 100%;
    border-radius: 12px;
}

.thin {
    font-weight: 400;
}

.thick {
    font-size: 20px;
    font-weight: 700;
}

@font-face {
    font-family: outfit;
    src: url(Outfit-Regular.ttf) format('truetype');
}